{% extends "base.html" %} {% block title %}Submit Task for {{ plan.name }}{%
endblock %} {% block header %}Submit Task: {{ plan.name }}{% endblock %} {%
block content %}
<form action="/tasks" method="post" enctype="application/x-www-form-urlencoded">
  {% for param, details in plan.parameter_schema.items() %}
  <label for="{{ param }}">{{ param }} ({{ details.type }}):</label>
  <input
    type="{{ details.html_input_type }}"
    id="{{ param }}"
    name="params[{{ param }}]"
    placeholder="{{ details.description }}"
    required
  />
  <br />
  {% endfor %}
  <input type="hidden" name="name" value="{{ plan.name }}" />
  <button type="submit">Submit Task</button>
</form>
{% endblock %}
