repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
        exclude: ^helm/blueapi/templates/
        args: [--allow-multiple-documents]
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true

  - repo: https://github.com/norwoodj/helm-docs
    rev: "v1.14.2"
    hooks:
      - id: helm-docs-built
        args:
          # Make the tool search for charts only under the `helm` directory
          - --chart-search-root=helm

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/losisin/helm-values-schema-json
    rev: v2.2.1
    hooks:
      - id: helm-schema
        args:
        - "--config"
        - "helm/blueapi/.schema.yaml"
