accessible-pygments==0.0.5
aioca==2.0a4
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.11.0
asgiref==3.9.2
attrs==25.3.0
awkward==2.8.9
awkward_cpp==50
babel==2.17.0
beautifulsoup4==4.14.2
bidict==0.23.1
blosc2==3.9.1
bluesky==1.14.5
bluesky-stomp==0.2.0
cachetools==6.2.0
certifi==2025.8.3
cffi==2.0.0
cfgv==3.4.0
charset-normalizer==3.4.3
click==8.3.0
cloudpickle==3.1.1
colorama==0.4.6
colorlog==6.9.0
compress-pickle==2.1.0
contourpy==1.3.3
copier==9.10.2
coverage==7.10.7
cryptography==46.0.2
cycler==0.12.1
daq-config-server==1.0.0rc2
dask==2025.9.1
dataclasses-json==0.6.7
deepdiff==8.6.1
deepmerge==2.0
distlib==0.4.0
dls-dodal==1.60.0
dnspython==2.8.0
docopt==0.6.2
docutils==0.21.2
dunamai==1.25.0
email-validator==2.3.0
entrypoints==0.4
epicscorelibs==7.0.7.99.1.2
event-model==1.23.1
fastapi==0.118.0
fastapi-cli==0.0.13
fastapi-cloud-cli==0.3.0
filelock==3.19.1
flexcache==0.3
flexparser==0.4
fonttools==4.60.1
frozenlist==1.7.0
fsspec==2025.9.0
funcy==2.0
gitdb==4.0.12
GitPython==3.1.45
googleapis-common-protos==1.70.0
graypy==2.1.0
grpcio==1.75.1
h11==0.16.0
hiredis==3.2.1
historydict==1.2.6
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
identify==2.6.15
idna==3.10
imagesize==1.4.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jinja2-ansible-filters==1.3.2
json-merge-patch==0.3.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jwcrypto==1.5.6
kiwisolver==1.4.9
llvmlite==0.45.1
locket==1.0.0
lz4==4.4.4
markdown-it-py==3.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.6
mdit-py-plugins==0.5.0
mdurl==0.1.2
mistune==3.1.4
mock==5.2.0
msgpack==1.1.1
msgpack-numpy==0.4.8
multidict==6.6.4
mypy_extensions==1.1.0
myst-parser==4.0.1
ndindex==1.10.0
networkx==3.5
nodeenv==1.9.1
nose2==0.15.1
numba==0.62.1
numexpr==2.13.1
numpy==2.2.6
observability-utils==0.1.5
opencv-python-headless==4.12.0.88
opentelemetry-api==1.37.0
opentelemetry-distro==0.58b0
opentelemetry-exporter-otlp==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-grpc==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-instrumentation==0.58b0
opentelemetry-instrumentation-asgi==0.58b0
opentelemetry-instrumentation-fastapi==0.58b0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
opentelemetry-util-http==0.58b0
ophyd==1.11.0
ophyd-async==0.13.3
orderly-set==5.5.0
orjson==3.11.3
p4p==4.2.1
packaging==25.0
pandas==2.3.3
partd==1.4.2
pathlib2==2.3.7.post1
pathspec==0.12.1
picobox==4.0.0
pika==1.3.2
pillow==11.3.0
Pint==0.25
pipdeptree==2.28.0
platformdirs==4.4.0
pluggy==1.6.0
plumbum==1.9.0
ply==3.11
pre_commit==4.3.0
prompt_toolkit==3.0.52
propcache==0.3.2
protobuf==6.32.1
pvxslibs==1.4.0
py==1.11.0
py-cpuinfo==9.0.0
pyarrow==21.0.0
pycparser==2.23
pydantic==2.11.9
pydantic-extra-types==2.10.5
pydantic-settings==2.11.0
pydantic_core==2.33.2
pydantic_numpy==8.0.1
pydata-sphinx-theme==0.16.1
pyepics==3.5.8
Pygments==2.19.2
PyJWT==2.10.1
pyparsing==3.2.5
pyright==1.1.406
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.3
pyzmq==26.3.0
questionary==2.1.1
redis==6.4.0
referencing==0.36.2
requests==2.32.5
responses==0.25.8
rich==14.1.0
rich-toolkit==0.15.1
rignore==0.7.0
roman-numerals-py==3.1.0
rpds-py==0.27.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.14
ruff==0.13.3
scanspec==0.9.0
semver==3.0.4
sentry-sdk==2.39.0
setuptools_dso==2.12.2
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.8
sparse==0.17.0
Sphinx==8.2.3
sphinx-autobuild==2025.8.25
sphinx-click==6.1.0
sphinx-copybutton==0.5.2
sphinx_design==0.6.1
sphinx_mdinclude==0.6.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-openapi==0.8.4
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stamina==25.1.0
starlette==0.48.0
stomp.py==8.2.0
super_state_machine==2.1.0
tenacity==9.1.2
tiled==0.1.6
tomlkit==0.13.3
toolz==1.0.0
tox==3.28.0
tox-direct==0.4
tqdm==4.67.1
typer==0.19.2
types-mock==5.2.0.20250924
types-PyYAML==6.0.12.20250915
types-requests==2.32.4.20250913
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
ujson==5.11.0
urllib3==2.5.0
uvicorn==0.37.0
uvloop==0.21.0
velocity-profile==1.0.0
virtualenv==20.34.0
watchfiles==1.1.0
wcwidth==0.2.14
websocket-client==1.8.0
websockets==15.0.1
workflows==3.2
wrapt==1.17.3
xarray==2025.9.1
yarl==1.20.1
zipp==3.23.0
zocalo==1.3.0
zstandard==0.25.0
