accessible-pygments==0.0.5
aioca==1.8.1
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.7.0
appdirs==1.4.4
asciitree==0.3.3
asgiref==3.8.1
asttokens==3.0.0
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bidict==0.23.1
bluesky==1.13
bluesky-kafka==0.10.0
bluesky-live==0.0.8
bluesky-stomp==0.1.2
boltons==24.1.0
cachetools==5.5.0
caproto==1.1.1
certifi==2024.8.30
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
colorlog==6.9.0
comm==0.2.2
compress-pickle==2.1.0
confluent-kafka==2.6.1
contourpy==1.3.1
copier==9.4.1
coverage==7.6.9
cryptography==44.0.0
cycler==0.12.1
dask==2024.12.0
databroker==1.2.5
dataclasses-json==0.6.7
decorator==5.1.1
deepdiff==8.0.1
deepmerge==2.0
Deprecated==1.2.15
distlib==0.3.9
dls-dodal==1.37.0
dnspython==2.7.0
docopt==0.6.2
doct==1.1.0
docutils==0.21.2
dunamai==1.23.0
email_validator==2.2.0
entrypoints==0.4
epicscorelibs==7.0.7.99.1.1
event-model==1.22.1
executing==2.1.0
fastapi==0.115.6
fastapi-cli==0.0.6
fasteners==0.19
filelock==3.16.1
flexcache==0.3
flexparser==0.4
fonttools==4.55.2
frozenlist==1.5.0
fsspec==2024.10.0
funcy==2.0
gitdb==4.0.11
GitPython==3.1.43
googleapis-common-protos==1.66.0
graypy==2.1.0
grpcio==1.68.1
h11==0.14.0
h5py==3.12.1
HeapDict==1.0.1
historydict==1.2.6
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
humanize==4.11.0
identify==2.6.3
idna==3.10
imageio==2.36.1
imagesize==1.4.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.0.0
intake==0.6.4
ipython==8.18.0
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jinja2-ansible-filters==1.3.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyterlab_widgets==3.0.13
jwcrypto==1.5.6
kiwisolver==1.4.7
ldap3==2.9.1
locket==1.0.0
lz4==4.3.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.9.3
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.0.2
mock==5.1.0
mongoquery==1.4.2
msgpack==1.1.0
msgpack-numpy==0.4.8
multidict==6.1.0
mypy-extensions==1.0.0
myst-parser==4.0.0
networkx==3.4.2
nodeenv==1.9.1
nose2==0.15.1
nslsii==0.10.7
numcodecs==0.14.1
numpy==1.26.4
observability-utils==0.1.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opentelemetry-api==1.28.2
opentelemetry-distro==0.49b2
opentelemetry-exporter-otlp==1.28.2
opentelemetry-exporter-otlp-proto-common==1.28.2
opentelemetry-exporter-otlp-proto-grpc==1.28.2
opentelemetry-exporter-otlp-proto-http==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-asgi==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-proto==1.28.2
opentelemetry-sdk==1.28.2
opentelemetry-semantic-conventions==0.49b2
opentelemetry-util-http==0.49b2
ophyd==1.10.0
ophyd-async==0.9.0a1
orderly-set==5.2.2
orjson==3.10.12
p4p==4.2.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
partd==1.4.2
pathlib2==2.3.7.post1
pathspec==0.12.1
pexpect==4.9.0
picobox==4.0.0
pika==1.3.2
pillow==11.0.0
PIMS==0.7
Pint==0.24.4
pipdeptree==2.24.0
platformdirs==4.3.6
pluggy==1.5.0
plumbum==1.9.0
ply==3.11
pre_commit==4.0.1
prettytable==3.12.0
prompt-toolkit==3.0.36
propcache==0.2.1
protobuf==5.29.1
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pvxslibs==1.3.2
py==1.11.0
pyasn1==0.6.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.3
pydantic-extra-types==2.10.1
pydantic-settings==2.6.1
pydantic_core==2.27.1
pydantic_numpy==5.0.2
pydata-sphinx-theme==0.16.0
pyepics==3.5.7
Pygments==2.18.0
PyJWT==2.10.1
pymongo==4.10.1
pyOlog==4.5.0
pyparsing==3.2.0
pyright==1.1.390
pytest==8.3.4
pytest-asyncio==0.24.0
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.19
pytz==2024.2
PyYAML==6.0.2
questionary==2.0.1
redis==5.2.1
redis-json-dict==0.2.1
referencing==0.35.1
requests==2.32.3
responses==0.25.3
rich==13.9.4
rich-toolkit==0.12.0
rpds-py==0.22.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
ruff==0.8.2
scanspec==0.7.6
semver==3.0.2
setuptools-dso==2.11
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
slicerator==1.1.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
Sphinx==8.1.3
sphinx-autobuild==2024.10.3
sphinx-click==6.0.0
sphinx-copybutton==0.5.2
sphinx_design==0.6.1
sphinx_mdinclude==0.6.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-openapi==0.8.4
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
starlette==0.41.3
stomp.py==8.2.0
suitcase-mongo==0.6.0
suitcase-msgpack==0.3.0
suitcase-utils==0.5.4
super-state-machine==2.0.2
tifffile==2024.9.20
toolz==1.0.0
tox==3.28.0
tox-direct==0.4
tqdm==4.67.1
traitlets==5.14.3
typer==0.15.1
types-mock==5.1.0.20240425
types-PyYAML==6.0.12.20240917
types-requests==2.32.0.20241016
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
ujson==5.10.0
urllib3==2.2.3
uvicorn==0.32.1
uvloop==0.21.0
virtualenv==20.28.0
watchfiles==1.0.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==14.1
widgetsnbextension==4.0.13
workflows==3.1
wrapt==1.17.0
xarray==2024.11.0
yarl==1.18.3
zarr==2.18.3
zict==2.2.0
zipp==3.21.0
zocalo==1.2.0
