accessible-pygments==0.0.5
aioca==1.8.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.9.0
asgiref==3.8.1
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.4
bidict==0.23.1
bluesky==1.13.1
bluesky-stomp==0.1.6
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
colorlog==6.9.0
compress-pickle==2.1.0
contourpy==1.3.2
copier==9.7.1
coverage==7.8.2
cryptography==44.0.3
cycler==0.12.1
dataclasses-json==0.6.7
deepdiff==8.4.2
deepmerge==2.0
Deprecated==1.2.18
distlib==0.3.9
dls-dodal==1.46.0
dnspython==2.7.0
docopt==0.6.2
docutils==0.21.2
dunamai==1.23.1
email_validator==2.2.0
epicscorelibs==7.0.7.99.1.2a1
event-model==1.22.3
fastapi==0.115.12
fastapi-cli==0.0.7
filelock==3.18.0
flexcache==0.3
flexparser==0.4
fonttools==4.57.0
frozenlist==1.6.0
funcy==2.0
gitdb==4.0.12
GitPython==3.1.44
googleapis-common-protos==1.70.0
graypy==2.1.0
grpcio==1.71.0
h11==0.16.0
historydict==1.2.6
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
identify==2.6.12
idna==3.10
imagesize==1.4.1
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
jinja2-ansible-filters==1.3.2
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jwcrypto==1.5.6
kiwisolver==1.4.8
lz4==4.4.4
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.1.3
mock==5.2.0
msgpack==1.1.0
msgpack-numpy==0.4.8
multidict==6.4.4
mypy_extensions==1.1.0
myst-parser==4.0.1
networkx==3.4.2
nodeenv==1.9.1
nose2==0.15.1
numpy==2.2.6
observability-utils==0.1.4
opencv-python-headless==4.11.0.86
opentelemetry-api==1.32.1
opentelemetry-distro==0.53b1
opentelemetry-exporter-otlp==1.32.1
opentelemetry-exporter-otlp-proto-common==1.32.1
opentelemetry-exporter-otlp-proto-grpc==1.32.1
opentelemetry-exporter-otlp-proto-http==1.32.1
opentelemetry-instrumentation==0.53b1
opentelemetry-instrumentation-asgi==0.53b1
opentelemetry-instrumentation-fastapi==0.53b1
opentelemetry-proto==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
opentelemetry-util-http==0.53b1
ophyd==1.10.6
ophyd-async==0.10.0a3
orderly-set==5.4.1
orjson==3.10.18
p4p==4.2.0
packaging==25.0
pathlib2==2.3.7.post1
pathspec==0.12.1
picobox==4.0.0
pika==1.3.2
pillow==11.2.1
Pint==0.24.4
pipdeptree==2.26.1
platformdirs==4.3.8
pluggy==1.5.0
plumbum==1.9.0
ply==3.11
pre_commit==4.2.0
prompt_toolkit==3.0.51
propcache==0.3.1
protobuf==5.29.5
pvxslibs==1.3.3
py==1.11.0
pycparser==2.22
pydantic==2.10.6
pydantic-extra-types==2.10.4
pydantic-settings==2.9.1
pydantic_core==2.27.2
pydantic_numpy==8.0.1
pydata-sphinx-theme==0.16.1
pyepics==3.5.7
Pygments==2.19.1
PyJWT==2.10.1
pyparsing==3.2.3
pyright==1.1.401
pytest==8.3.5
pytest-asyncio==0.26.0
pytest-cov==6.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
PyYAML==6.0.2
questionary==2.1.0
redis==5.2.1
referencing==0.36.2
requests==2.32.3
responses==0.25.7
rich==14.0.0
rich-toolkit==0.14.3
roman-numerals-py==3.1.0
rpds-py==0.24.0
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.11.7
scanspec==0.7.8
semver==3.0.4
setuptools_dso==2.12.2
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.7
Sphinx==8.2.3
sphinx-autobuild==2024.10.3
sphinx-click==6.0.0
sphinx-copybutton==0.5.2
sphinx_design==0.6.1
sphinx_mdinclude==0.6.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-openapi==0.8.4
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
starlette==0.46.2
stomp.py==8.2.0
super-state-machine==2.0.2
tomlkit==0.13.2
toolz==1.0.0
tox==3.28.0
tox-direct==0.4
tqdm==4.67.1
typer==0.15.2
types-mock==5.2.0.20250306
types-PyYAML==6.0.12.20250402
types-requests==2.32.0.20250328
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
ujson==5.10.0
urllib3==2.4.0
uvicorn==0.34.2
uvloop==0.21.0
virtualenv==20.30.0
watchfiles==1.0.5
wcwidth==0.2.13
websocket-client==1.8.0
websockets==15.0.1
workflows==3.2
wrapt==1.17.2
yarl==1.20.0
zipp==3.21.0
zocalo==1.2.0
