<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{instrument}}-blueapi</title>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>{{instrument}}-blueapi</h1>
        <p>
            api docs available at
            <a href="/docs">/docs</a>.
        </p>
        <h2>Devices</h2>
        <ul id="devices", hx-get="/ui/devices" hx-swap="innerHTML" hx-trigger="load"></ul>
        <h2>Plans</h2>
        <ul id="plans", hx-get="/ui/plans" hx-swap="innerHTML" hx-trigger="load"></ul>
    </body>
</html>
