apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "blueapi.fullname" . }}
  labels:
    {{- include "blueapi.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "blueapi.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- if ((.Values.worker.logging).graylog).enabled }}
        fluentd-ignore: "true"
      {{- end }}
      {{- if .Values.restartOnConfigChange }}
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
      {{- end }}
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "blueapi.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- if .Values.hostNetwork }}      
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "blueapi.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: worker-config
        projected:
          sources:
          - configMap:
              name: {{ include "blueapi.fullname" . }}-config
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- if .Values.initContainer.enabled }}
      - name: init-config
        projected:
          sources:
          - configMap:
              name: {{ include "blueapi.fullname" . }}-init-config
      - name: venv
        emptyDir:
          sizeLimit: 5Gi
      {{- if .Values.initContainer.persistentVolume.enabled }}
      - name: scratch
        persistentVolumeClaim:
          {{- if .Values.initContainer.persistentVolume.existingClaimName }}
          claimName: {{ .Values.initContainer.persistentVolume.existingClaimName }}
          {{- else }}
          claimName: {{ include "blueapi.fullname" . }}-scratch-{{ .Values.image.tag | default .Chart.AppVersion }}
          {{- end }}
      {{- else }}
      - name: scratch-host
        hostPath:
          path: {{ required "initContainer enabled but no worker.scratch.root!" (.Values.worker.scratch).root }}
          type: Directory
      {{- end }}
      {{- end }}
      {{- if ne 1000.0 .Values.securityContext.runAsUser }}
      - name: home  # Required for vscode to install plugins
        emptyDir:
          sizeLimit: 500Mi
      - name: nslcd  # Shared volume between main and sidecar container
        emptyDir:
          sizeLimit: 5Mi
      {{- end }}
      {{- if .Values.initContainer.enabled }}
      initContainers:
      - name: setup-scratch
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        resources:
          {{- .Values.initResources | default .Values.resources | toYaml | nindent 12 }}
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "Setting up scratch area"
            blueapi -c /config/init_config.yaml setup-scratch
            if [ $? -ne 0 ]; then echo 'Blueapi failed'; exit 1; fi;
            echo "Exporting venv as artefact"
            cp -r /venv/* /artefacts
        volumeMounts:
          - name: init-config
            mountPath: "/config"
            readOnly: true
          - name: venv
            mountPath: /artefacts
          {{- if .Values.initContainer.persistentVolume.enabled }}
          - name: scratch
            mountPath: {{ .Values.worker.scratch.root }}
          {{- else }}
          - name: scratch-host
            mountPath: {{ .Values.worker.scratch.root }}
            mountPropagation: HostToContainer
          {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              {{- $parsed := urlParse .Values.worker.api.url }}
              {{- if regexMatch "\\:[0-9]+" .Values.worker.api.url }}
              containerPort: {{ trimPrefix ":" (regexFind "\\:[0-9]+" .Values.worker.api.url) }}
              {{- else if eq $parsed.scheme  "http"}}
              containerPort: 80
              {{- else if eq $parsed.scheme "https" }}
              containerPort: 443
              {{- else }}
              containerPort: 8000
              {{- end }}
              protocol: TCP
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
            {{- if .Values.initContainer.enabled }}
            {{- if .Values.initContainer.persistentVolume.enabled }}
            - name: scratch
              mountPath: {{ .Values.worker.scratch.root }}
            {{- else }}
            - name: scratch-host
              mountPath: {{ .Values.worker.scratch.root }}
              mountPropagation: HostToContainer
            {{- end }}
            - name: venv
              mountPath: /venv
            {{- end }}
            {{- if ne 1000.0 .Values.securityContext.runAsUser }}
            - mountPath: /home
              name: home
            - mountPath: /var/run/nslcd
              name: nslcd
            {{- end }}
          args:
            - "-c"
            - "/config/config.yaml"
            - "serve"
          {{- if .Values.debug.enabled }}
          command:
          - "python"
          - "-Xfrozen_modules=off"
          - "-m"
          - "debugpy"
          - "--listen"
          - "5678"
          {{- if .Values.debug.log_to_stderr }}
          - "--log-to-stderr"
          {{- end }}
          {{- if .Values.debug.suspend }}
          - "--wait-for-client"
          {{- end }}
          - "--configure-subProcess"
          - "true"
          - "-m"
          - "blueapi"
          {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "blueapi.fullname" . }}-otel-config
          env:
            {{- toYaml .Values.extraEnvVars | nindent 12 }}
        {{- if ne 1000.0 .Values.securityContext.runAsUser }}
        - name: debug-account-sync
          image: ghcr.io/diamondlightsource/account-sync-sidecar:3.0.0
          volumeMounts:
          # This allows the nslcd socket to be shared between the main container and the sidecar
          - mountPath: /var/run/nslcd
            name: nslcd
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
