on:
  workflow_call:

env:
  # https://github.com/pytest-dev/pytest/issues/2042
  PY_IGNORE_IMPORTMISMATCH: "1"
  TILED_SINGLE_USER_API_KEY: unknown # ${TILED_SINGLE_USER_API_KEY}

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          # Need this to get version number from last tag
          fetch-depth: 0

      - name: Install python packages
        uses: ./.github/actions/install_requirements

      - name: Checkout simulated devices
        uses: actions/checkout@v4
        with:
          repository: epics-containers/example-services
          path: example-services
          ref: '2025.8.2'

      - name: Compose devices
        uses: hoverkraft-tech/compose-action@b716db5b717cb9b81e391fe638e5aceaa2299e43 # v2.4.0
        with:
          compose-file: "example-services/compose.yaml"
          services: |
            bl01t-di-cam-01
            bl01t-mo-sim-01
            ca-gateway

      - name: Compose services
        uses: hoverkraft-tech/compose-action@b716db5b717cb9b81e391fe638e5aceaa2299e43 # v2.4.0
        with:
          compose-file: "tests/system_tests/compose.yaml"
          services: |
            rabbitmq
            numtracker
            tiled

      - name: Start Blueapi Server
        env:
          EPICS_CA_NAME_SERVERS: 127.0.0.1:9064
          EPICS_PVA_NAME_SERVERS: 127.0.0.1:9075
        run: blueapi -c ${{ github.workspace }}/tests/system_tests/config.yaml serve &

      - name: Run tests
        run: tox -e system-test
