on:
  workflow_call:

env:
  # https://github.com/pytest-dev/pytest/issues/2042
  PY_IGNORE_IMPORTMISMATCH: "1"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          # Need this to get version number from last tag
          fetch-depth: 0

      - name: Install python packages
        uses: ./.github/actions/install_requirements

      - name: Checkout simulated devices
        uses: actions/checkout@v4
        with:
          repository: epics-containers/example-services
          path: example-services

      - name: Run docker compose
        uses: hoverkraft-tech/compose-action@40041ff1b97dbf152cd2361138c2b03fa29139df # v2.3.0
        with:
          compose-file: "./example-services/compose.yaml"
          services: |
            bl01t-di-cam-01
            bl01t-mo-sim-01
            ca-gateway

      - name: Start RabbitMQ
        uses: namoshek/rabbitmq-github-action@d1d4455f4a8f72db66111c24cb0dc5654047a975 # v1
        with:
          ports: "61613:61613"
          plugins: rabbitmq_stomp

      - name: Start Blueapi Server
        env:
          EPICS_CA_NAME_SERVERS: 127.0.0.1:5094
          EPICS_PVA_NAME_SERVERS: 127.0.0.1:5095
          EPICS_CA_ADDR_LIST: 127.0.0.1:5094
        run: blueapi -c ${{ github.workspace }}/tests/system_tests/config.yaml serve &

      - name: Run tests
        run: tox -e system-test
